*{
	box-sizing: border-box;
	
}

.parent{
	display: inline-grid;
	grid-template-columns: 400px 2fr;
	grid-gap: 20px;
	border: groove gainsboro 1px;
	margin-bottom: 10px;

}

.content{
	max-width: 50%;
	margin: auto;

}

.logo__img{
	width: 2%;
	position: absolute;

}

img{
	width: 100%;

}

h2{
	margin-top: 30px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
}

p{
	font-family: Verdana, Geneva, sans-serif;
}

h3{
	font-family: Verdana, Geneva, sans-serif;
	font-size: .8em;
}

@media only screen and (max-width: 1300px){
	.parent{
		display: block;
	}
	p, h3, h2{
		margin: 7px;
	}


}